$roboto-sans: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$light-grey: #dcdcdc;
$dark-grey: #4a4a4a;
$mid-grey: #9b9b9b;
$orange: #F5A623;
$background-grey: #f0f0f0;

$max-width: 960px;